body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

div {
  background-color: blueviolet;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

div:nth-child(odd) {
  background-color: burlywood;
}
