section {
  border: 1px solid brown;
  height: 400px;

  display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat(3, 100px);
  grid-auto-rows: 100px;

  /* aligns the content of a grid container horizontally:
         =>justify-content: start (default) | center | end |
                  space-between | space-around | space-evenly
  */
  justify-content: space-between;

  /* aligns the content of a grid container vertically:
         =>align-content: start (default) | center | end |
                  space-between | space-around | space-evenly
  */
  align-content: space-evenly;
}
