section {
  display: grid;
  grid-gap: 3px;
  /* two columns with uneven sizes 
         => grid-template-columns: 1fr 5fr;

     you can use 'named lines' to indicate the start
     and end of a grid cell.

     separate the names with a space.

     the hyphen "-" brings in magic should you decide to
     make use of grid-area for the children (if applicable).
     just make sure that the keyword is consistent
     (e.g. 'header-', 'content-', etc)

  */
  grid-template-columns: [main-start footer-start] 1fr [content-start] 5fr [main-end footer-end content-end];

  /* named lines applied in template rows */
  grid-template-rows: 40px [content-start] auto [content-end] 40px;
}

.header {
  /* using the named lines declared in the container */
  grid-column: main-start / main-end;
}

.content {
  /* since we created a rectangle for content using named lines,
      we can now use => grid-area: content;  */
  grid-area: content;
}

.footer {
  grid-column: footer-start / footer-end;
}
